#heading1 {
    padding-left: 300px;
}
#heading2 {
    padding-left: 400px;
}


#heading4 {
    padding-left: 350px;
}
#row1col1 {
    padding-left: 50px;
    padding-right: 0px;
    margin: 0px;
    align-items: center;
}
#row1col2 {
    padding-right: 100px;
    padding-left: 0px;
    margin: 0px;
    text-align: left;
}
p {
font-family: 'Open Sans', sans-serif;}